*{margin:0;padding:0}
.wrapper {
  float: left;
}
.btn {
  padding: 5px;
  border-radius: 6px;
  position: relative;
}
.win {
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  padding: 8px;
  background: #eee;
  align-self: center;
  border-radius: 4px;
}
.win::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -6px;
  padding: 6px;
  background: #eee;
  align-self: center;
  border-top-left-radius: 4px;
  transform: rotate(-45deg);
}
.win.active {
  display: block;
}