*{ margin:0; padding:0; outline:none;}
.bg{
  background-image: url(wallhaven-557327.jpg);
  background-size: cover;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.bg > .bgMask{
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
}

#wrapper{
  margin-top: 180px;
  text-align: center;
}
kbd{
  background-color: rgba(235, 235, 235, 0.4);
  display: inline-block;
  width: 4em;
  height: 4em;
  line-height: 4em;
  margin: 4px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  text-transform: uppercase;
  font-family: sans-serif;
}
kbd:hover{
  background-color: seashell;
  box-shadow: 0px 3px 20px 3px rgba(196, 172, 172, 0.63);
  transition: background-color 0.2s, box-shadow 0.2s, width 0.2s, height 0.2s;
}
kbd-active{
  background-color: red;
  box-shadow: 0px 2px 10px 3px rgba(196, 172, 172, 0.4);
  transition: background-color 0.2s, box-shadow 0.2s, width 0.2s, height 0.2s;
}
kbd:hover > button{
  display: inline-block;
}
button{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2px;
  border: none;
  background-color: antiquewhite;
  width: 1em;
  height: 1em;
  font-size: 0.9em;
  line-height: 1em;
  border-radius: 10%;
}
button:hover{
  background-color: indianred;
  color: #FFF;
  font-size: 1em;
  transition: font-size 0.2s;
}