*{margin: 0; padding: 0; box-sizing: border-box;}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 340px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.wrapper h1 {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
.wrapper form {
  display: flex;
  flex-direction: column;
}
.wrapper form div {
  margin-top: 16px;
  text-align: center;
}
.wrapper form input {
  width: calc(100% - 6.4em);
  padding: 4px;
}
.wrapper form input[type=submit] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 30px;
  background-color: lightblue;
}