body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.topNavBar{
    padding: 20px 16px;
}
.topNavBar > .logo{
    float: left;
    font-size: 24px;
    font-family: "Arial Black";
    padding: 3px 0 4px 0;
}
.rs{
    margin-right: 4px;
    color: #e06567;
}
.topNavBar > .logo > .card{
    color: #9a9da2;
}

.topNavBar > nav{
    float: right;
    padding-top: 7px;
}
.topNavBar > nav > ul > li{
    float: left;
    margin: 0 17px;
}
.topNavBar > nav > ul > li >a{
    display: block;
    color: #b7b7b7;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar > nav > ul > li >a:hover{
    border-bottom: 3px solid #e06567;
}
